<div class="hello-page" *ngIf="vmMissingInfo">
  <div class="content-container">
    <div class="hello-content" *ngIf="!isSubmitDone">
      <h5>We have some questions pertaining to your itinerary.</h5>
      <hgb-missing-info-form [vm]="vmMissingInfo" (formChangedHereIsTheWholeForm)="formModified($event)"></hgb-missing-info-form>
      <!-- <pre>{{ vmMissingInfo | json }}</pre> -->
    </div>
    <div class="hello-content" *ngIf="isSubmitDone">
      <h4>Thank you! Your request has been submitted.</h4>
    </div>
  </div>
  <footer>
    <ng-container *ngIf="ENV.logo != FeLogoType.None">
      <img class="logo" src="assets/images/hellogbye-logo-blue.svg" height="35" *ngIf="ENV.logo == FeLogoType.HelloGbye"/>
      <img class="logo" src="assets/images/gbt-logo.svg" height="30" *ngIf="ENV.logo == FeLogoType.AmexGbt"/>
    </ng-container>
    <button class="hgb-wire-btn blue submit-btn" mat-button (click)="submit()" *ngIf="!isSubmitDone">Submit</button>
  </footer>
</div>