<div class="hello-page" *ngIf="vmMissingInfo">
  <div class="content-container">
    <div class="hello-content">
      <h5>We have some questions pertaining to your itinerary.</h5>
      
      <hgb-missing-info-form [vm]="vmMissingInfo"></hgb-missing-info-form>
     
      <!-- <pre>{{ vmMissingInfo | json }}</pre> -->
    </div>
  </div>
  <div class="logo" *ngIf="ENV.logo != FeLogoType.None">
    <img src="assets/images/hellogbye-logo-blue.svg" height="35" *ngIf="ENV.logo == FeLogoType.HelloGbye"/>
    <img src="assets/images/gbt-logo.svg" height="30" *ngIf="ENV.logo == FeLogoType.AmexGbt"/>
  </div>
</div>